@import '_variables';
@import '_mixins';
@import '_overrides';

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: fixed;
}

#appAudioVideoSegment {
  width: 50vw;
  float: left;

  #appVideoSegment {
    height: 50vh;
    margin: 0;
  }

  #appAudioSegment {
    height: 10vh;
    margin: 0;
  }
}

#appSubtitleForm {
  float: right;
  width: 50vw;
  height: 60vh;
  margin: 0;

  #appSubtitleLineSettings {
    height: 25vh;
    max-height: 150px;
    margin: 0;

    .appSubtitleLineSettingRow {
      height: 5vh;
    }
  }

  #appSubtitleText {
    height: 35vh;
    margin: 0;
    padding: 0;

    #appTextAreaMenu {
      height: $appTextAreaMenu;
    }

    #appTextArea {
      @include calculateHeight(100%, $appTextAreaMenu);

      #lineText {
        font-family: 'Arial, Helvetica', sans-serif;
        font-size: 1.4em;
        padding: 0.5em;
        color: black;

        height: 100%;
        width: 100%;
        resize: none;
      }
    }
  }
}

#appLines {
  // height: 30vh;
  overflow-y: auto;
  margin: 0;
}