<div class="modal fade" id="appMenuSettings" tabindex="-1" role="dialog" aria-labelledby="appSettings">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">{{ i18n "Settings" }}</div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
              <li role="presentation" class="active">
                <a href="#">{{ i18n "General" }}<span class="badge">1</span></a>
              </li>
              <li role="presentation">
                <a href="#">
                  {{ i18n "Changelog" }}
                  <span class="badge" id="appInfoVersion"></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="show" id="appSettings.General">
              <div class="btn-group" role="group" aria-label="...">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="flag-icon flag-icon-de"></span>
                    Sprache
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                    <li>
                      <a href="#">
                        <span class="flag-icon flag-icon-de"></span>
                        {{ i18n "German" }}
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="flag-icon flag-icon-gb"></span>
                        {{ i18n "English" }}
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="flag-icon flag-icon-jp"></span>
                        {{ i18n "Japanese" }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          {{ i18n "Cancel" }}
        </button>
        <button type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          {{ i18n "Save" }}
        </button>
      </div>
    </div>
  </div>
</div>